{% extends '/layout.php' %}
{% block content %}
<header data-am-widget="header" class="am-header tt-header">
<div class="am-header-left am-header-nav">
<a href="javascript:history.back()" class="">
<i class="arrow-left"></i>
</a>
</div>
<h1 class="am-header-title tt-title">
关于我们
</h1>
<div class="am-header-right am-header-nav">
<a href="javascript:;" class="">
<i class="tt-right"></i>
</a>
</div>
</header>
<div class="about-container">
<div class="img"><img src="/assets/img/tt-logo.png"/></div>
<div class="content">
<img src="/assets/img/tt-img1.png" alt="" />
<img src="/assets/img/tt-img2.png"/>
<div class="word">
<p>要过多少年，我们才能将激荡的感情收起，变得缄默从容，告别富于挑逗的美好，告别脆弱的精致，告别无用的敏感？不再会遇到风吹草动就草</p>
<p>要过多少年，我们才能将激荡的感情收起，变得缄默从容，告别富于挑逗的美好，告别脆弱的精致，告别无用的敏感？不再会遇到风吹草动就草</p>
</div>
</div>
</div>
<div class="about-footer">Copyright © 2017-2020xxxx公司</div>
{% endblock %}