{% extends '/layout.php' %}
{% block content %}
<header data-am-widget="header" class="am-header tt-header">
    <div class="am-header-left am-header-nav">
        <a href="/my/" class="">
            <i class="arrow-left"></i>
        </a>
    </div>
    <h1 class="am-header-title tt-title">
        我的拼团订单
    </h1>
</header>
<div class="order-nav">
    <ul class="nav-list">
        <li class="list-item {% if status == 0 %}active{% endif %}">
            <a href="/my/rushOrder?status=">全部</a>
        </li>
        <li class="list-item {% if status == 1 %}active{% endif %}">
            <a href="/my/rushOrder?status=1">待付款</a>
        </li>
        <li class="list-item {% if status == 20 %}active{% endif %}">
            <a href="/my/rushOrder?status=20">待成团</a>
        </li>
        <li class="list-item {% if status == 3 %}active{% endif %}">
            <a href="/my/rushOrder?status=3">待发货</a>
        </li>
        <li class="list-item {% if status == 4 %}active{% endif %}">
            <a href="/my/rushOrder?status=4">待收货</a>
        </li>
        <li class="list-item {% if status == 5 %}active{% endif %}">
            <a href="/my/rushOrder?status=5">待评价</a>
        </li>
    </ul>
</div>
<!--订单列表-->
<div class="mo-order">
    <ul class="order-list">
        {% for item in list %}
        <li class="list-item">
            <div class="href-item">
                <div class="top">
                    <div class="order-number">订单号：<span>{{item.transid}}</span></div>
                    <div class="status">{{item.status_text}}</div>
                </div>
                {% if item.status == 20 %}
                <div class="countdown">
                    <span class="num">差<i>{{item.surplus}}</i>人，</span>
                    <span class="time" id="countdown">{{item.sec}} 后结束</span>
                </div>
                {% endif %}
                <div class="center" onclick="location.href='/my/rushOrderView?id={{item.id}}'">
                    <div class="img"><img src="{{item.imgurl}}"/></div>
                    <div class="content">
                        <p class="name">{{item.goodsname}}</p>
                        <div class="infor am-cf">
                            <div class="integral am-fl">￥<i>{{item.money}}</i></div>
                            <div class="num am-fr">数量：<i>{{item.buycount}}</i></div>
                        </div>
                    </div>
                </div>
                <div class="bottom am-cf">
                    <div class="left am-fl">
                        <div class="num">共<i>{{item.buycount}}</i>件商品</div>
                        <div class="price">金额：￥<i style="font-size: 14px;">{{item.money}}</i></div>
                    </div>
                    {% if item.status == '1' %}
                    <div class="right am-fr">
                        <span class="btn del-order" onclick="confirmCancel('{{item.id}}')">取消订单</span>
                        <span class="btn" onclick="location.href='/cart/paymentRush?transid={{item.transid}}'">去支付</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/assets/layer_mobile/layer.js"></script>
<script type="text/javascript">
    $(function () {
        //倒计时
        window.setInterval(function () {
            // ShowCountDown(2017, 10, 8, $('.time'));
        }, 1000);
    });

    function confirmCancel(id) {
        layer.open({
            content: '您确定要取消吗？'
            , btn: ['确定', '取消']
            , yes: function (index) {
                cancel(id);
                layer.close(index);
            }
        });
    }
    function cancel(id) {
        $.ajax({
            type: 'get',
            url: '/my/rushOrderCancel',
            data: 'id='+id,
            error: function () {
                mask('error');
            },
            success: function (res) {
                if (res == 'success') {
                    mask('订单已关闭!');
                    setTimeout(function () {
                        location.href = '/my/rushOrder';
                    }, 1000);
                } else {

                }
            }
        });
    }
</script>
{% endblock %}