{% extends '/layout.php' %}
{% block content %}
<link rel="stylesheet" href="/assets/css/swiper.min.css"/>
<link rel="stylesheet" href="/assets/css/zb-wsc.css"/>
<link rel="stylesheet" href="/assets/css/zb_icon.css"/>
<header class="my-header-wrap">
    <a class="icon-back" href="javascript:history.go(-1)"></a>
    <h1>全部评价</h1>
</header>
<div class="container">
    <div class="all-evaluation-wrap">
        <div class="all-evaluation-top">
            <em class="icon-line-left"></em>
            <b class="text-y">好评</b>
            {% if reply_avg == '1' %}
            <span class="star"><i class="icon-star active"></i><i class="icon-star"></i><i
                    class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
            {% endif %}
            {% if reply_avg == '2' %}
            <span class="star"><i class="icon-star active"></i><i class="icon-star active"></i><i
                    class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
            {% endif %}
            {% if reply_avg == '3' %}
            <span class="star"><i class="icon-star active"></i><i class="icon-star active"></i><i
                    class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i></span>
            {% endif %}
            {% if reply_avg == '4' %}
            <span class="star"><i class="icon-star active"></i><i class="icon-star active"></i><i
                    class="icon-star active"></i><i class="icon-star active"></i><i
                    class="icon-star"></i></span>
            {% endif %}
            {% if reply_avg == '5' %}
            <span class="star"><i class="icon-star active"></i><i class="icon-star active"></i><i
                    class="icon-star active"></i><i class="icon-star active"></i><i
                    class="icon-star active"></i></span>
            {% endif %}
            <em class="icon-line-right"></em>
        </div>
        <div class="all-evaluation-list">
            {% for item in reply %}
            <div class="evaluation">
                <h3 class="am-cf">
                    <img src="{{item.avatar}}"/>
                    {{item.username}}
                    {% if item.stars == '1' %}
                    <span class="star"><i class="icon-star active"></i><i class="icon-star"></i><i
                            class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
                    {% endif %}
                    {% if item.stars == '2' %}
                    <span class="star"><i class="icon-star active"></i><i class="icon-star active"></i><i
                            class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span>
                    {% endif %}
                    {% if item.stars == '3' %}
                    <span class="star"><i class="icon-star active"></i><i class="icon-star active"></i><i
                            class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i></span>
                    {% endif %}
                    {% if item.stars == '4' %}
                    <span class="star"><i class="icon-star active"></i><i class="icon-star active"></i><i
                            class="icon-star active"></i><i class="icon-star active"></i><i
                            class="icon-star"></i></span>
                    {% endif %}
                    {% if item.stars == '5' %}
                    <span class="star"><i class="icon-star active"></i><i class="icon-star active"></i><i
                            class="icon-star active"></i><i class="icon-star active"></i><i
                            class="icon-star active"></i></span>
                    {% endif %}
                </h3>
                <h4 class="text-y" style="padding-bottom: 10px;">{{item.regdate}}</h4>
                <p>{{item.remark}}</p>
                {% if item.imga is not empty %}
                <div class="evaluation-img am-cf">
                    <ul data-am-widget="gallery"
                        class="am-gallery am-avg-sm-2am-avg-md-3 am-avg-lg-4 am-gallery-overlay"
                        data-am-gallery="{ pureview: true }">
                        <li>
                            <div class="am-gallery-item">
                                <a href="#">
                                    <img src="{{item.imga}}"/>
                                </a>
                            </div>
                        </li>
                        {% if item.imgb is not empty %}
                        <li>
                            <div class="am-gallery-item">
                                <a href="#">
                                    <img src="{{item.imgb}}"/>
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% if item.imgc is not empty %}
                        <li>
                            <div class="am-gallery-item">
                                <a href="#">
                                    <img src="{{item.imgc}}"/>
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% if item.imgd is not empty %}
                        <li>
                            <div class="am-gallery-item">
                                <a href="#">
                                    <img src="{{item.imgd}}"/>
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% if item.imge is not empty %}
                        <li>
                            <div class="am-gallery-item">
                                <a href="#">
                                    <img src="{{item.imge}}"/>
                                </a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}